<section class="text-center">
  <div class="p-5 bg-image" style="background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg'); height: 130px; "></div>
  <div class="card mx-1 mx-md-5 shadow-1-strong" style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.8); backdrop-filter: blur(30px); ">
    <div class="card-body">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign up now</h2>         
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%> 
          <%= render "devise/shared/error_messages", resource: resource %>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" >User Name</label>              
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", placeholder: "Enter your Username" %>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Enter your Email</label>             
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",placeholder: "Enter the Email" %>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">password</label>             
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control",placeholder: "Enter the Password" %>
            </div>            

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example4">password_confirmation</label>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password_Confirmation" %>
            </div> 

            <%= f.submit "Sign up", class: "btn btn-outline-info btn-block mb-4" %>

            <div class="text-center">
              <p><%= link_to "Log in", new_session_path(resource_name), class: "btn btn-outline-secondary" %>
                
              </p>
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->